<p id="notice"><%= notice %></p>

<h1>Wine List</h1> <%=link_to "Import/Delete Products", controller: "external_products", action: "index"%>

<%= form_tag products_path, :method => 'get', :id => "products_search" do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search by name" %>
  </p>
<% end %>
<div id="products"><%= render 'list' %></div>
<br>
