<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<%= image_tag(@product.image_url, size: "180x180", alt: @product.name) %>


<p>
  <strong>Description:</strong>
  <%= @product.clean_description %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path << @product.page %>

